body {
    background-color: rgba(0, 255, 0, 0.3);
    border: 10px solid bisque;
}

#aside {
    background-color: #00ff0080;
    padding: 10px;
    border-left: 5px solid bisque;
    border-right: 5px solid bisque;
    float:right;
    margin-left: 20px;
    width: 250px;
    margin-bottom: 0px;
}

#example {
    font-family: 'Times New Roman', serif;
    font-weight: bold;
}
.para {
   font-family: "segoe ui",Tahoma, Geneva, Verdana, sans-serif;
   text-align:center;
}